<section>
<div class="container">

<table class="table mt-5">

  <thead>
    <tr>
      <th scope="col">Items</th>
      <th scope="col">Title</th>
      <th scope="col">Price(INR)</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>

  <tbody>
    {{#each products}}
    <tr>
      
      <td><img src="/product_image/{{this.product._id}}.jpg" alt="" style="width: 50px; height: auto;"></td>
      <td>{{this.product.Name}}</td>
      <td>₹{{this.product.Price}}</td>
    
      <td>
        <button class="btn btn-info btn-sm mr-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}', -1)">-</button>
        <span id="{{this.product._id}}">{{this.quantity}}</span> 
        <button class="btn btn-info btn-sm ml-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}', 1)">+</button>
      </td>
      <td>
        <a href="" class="btn btn-danger">Remove</a>
      </td>
    </tr>
    {{/each}}
  </tbody>

</table>
<hr>
<div class="float-end pr-5">
  <h5 class="float-end mr-5">Total: Rs. <span id="total">{{totalAmount}}</span></h5><br>
  <a href="/place_order" class="btn btn-success mt-3" style="width: 100%;"><b>Checkout</b></a>
</div>  
</div>
</section>

<script>

</script>